<div *ngIf="product" class="bg-myreg">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{product.name}}</h1>
  <p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
<div class="container">
  <div class="text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{product.category}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{product.price}}$ <!-- <small class="text-muted">/ mo</small> --></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{product.description}}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-dark" (click)="buyProduct(product.productId)">Подписаться</button>
      </div>
    </div>
  </div>
</div>
</div>
