<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-my1">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Simple Charging Service</h1>
    <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="text-center" style="margin-left: auto; margin-right: auto; margin-bottom: 16px">
  <a class="btn btn-outline-dark" href="#" (click)="rebootProduct()">Все продукты</a>
</div>
<div class="row my-search-filter">
  <div class="col-md-4">
  </div>
  <div class="col-md-3">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchName">
  </div>
  <div class="col-md-1">
    <a class="btn btn-outline-dark" href="#" (click)="searchProduct()">Поиск</a>
  </div>
  <div class="col-md-1">
    <a class="btn btn-outline-dark" href="#" (click)="rebootProduct()">Сброс</a>
  </div>
  <div class="col-md-1">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Показывать по
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="setSort('name')">Имени</a>
        <a class="dropdown-item" href="#" (click)="setSort('price')">Цене</a>
        <a class="dropdown-item" href="#" (click)="setSort('productId')">По новизне</a>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Сортировать по
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngIf="sort == 'price'" class="dropdown-item" href="#" (click)="setOrder('low')">Дешевле-Дороже</a>
        <a *ngIf="sort == 'price'" class="dropdown-item" href="#" (click)="setOrder('high')">Дороже-Дешевле</a>

        <a *ngIf="sort == 'name'" class="dropdown-item" href="#" (click)="setOrder('low')">А-Я</a>
        <a *ngIf="sort == 'name'" class="dropdown-item" href="#" (click)="setOrder('high')">Я-А</a>

        <a *ngIf="sort == 'productId'" class="dropdown-item" href="#" (click)="setOrder('low')">Старые-Новые</a>
        <a *ngIf="sort == 'productId'" class="dropdown-item" href="#" (click)="setOrder('high')">Новые-Старые</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div *ngFor="let product of products" class="col-md-6">
    <div class="bg-product1 my-product text-center text-dark overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">{{product.name}}</h2>
        <p class="lead">{{product.description}}</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="lead">{{product.price}}$</p>
        <a class="btn btn-outline-dark" href="#" [routerLink]="['/product/', product.productId]">Просмотреть</a>
      </div>
    </div>
  </div>
</div>
<hr class="mb-4">
<nav *ngIf="totalPages" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <a class="text-dark btn">Страница</a>
    <li class="page-item">
      <a *ngIf="page!==0"  class="page-link" href="#"(click)="goPrev(page)">Пред.</a></li>
    <li *ngFor="let pages of totalPages; let i = index" class="page-item">
      <a class="page-link" href="#" (click)="goPage(i)">{{i+1}}</a></li>
    <li *ngIf="page!==totalPages.length-1" class="page-item">
      <a class="page-link" href="#" (click)="goNext(page)">След.</a></li>
    <div class="dropdown" style="margin-left: 10px">
      <button class="text-dark btn dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Показывать по:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="setSize(1)">1</a>
        <a class="dropdown-item" href="#" (click)="setSize(2)">2</a>
        <a class="dropdown-item" href="#" (click)="setSize(4)">4</a>
      </div>
    </div>
  </ul>
</nav>
