.bg-product1{
  background-color: #52D8FF;
}
.bg-product2{
  background-color: #CACACA;
}
.bg-my1{
  background-color: #D8F7FF;
}
.my-product1{
  margin-bottom: 16px;
  margin-right: 16px;
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 48px;
}
.my-product2{
  margin-bottom: 16px;
  margin-left: 16px;
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 48px;
}
