<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-my1">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Simple Charging Service</h1>
    <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="text-center" style="margin-left: auto; margin-right: auto; margin-bottom: 16px">
  <a class="btn btn-outline-dark" href="#" (click)="rebootProduct()">Все продукты</a>
</div>
<div class="row my-search-filter">
  <div class="col-md-4">
  </div>
  <div class="col-md-3">
    <input class="form-control" type="text" placeholder="Поиск" aria-label="Search" [(ngModel)]="searchName">
  </div>
  <div class="col-md-1">
    <a class="btn btn-outline-dark" href="#" (click)="searchProduct()">Поиск</a>
  </div>
  <div class="col-md-1">
    <a class="btn btn-outline-dark" href="#" (click)="rebootProduct()">Сброс</a>
  </div>
</div>
<div class="row my-search-filter">
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <a class="text-dark btn">Сортировать по</a>
    <select name="sort"
            [(ngModel)]="sort" (ngModelChange)="loadProducts()" class="form-control">
      <option value="name">Имени</option>
      <option value="price">Цене</option>
      <option value="productId" selected>Новизне</option>
    </select>
  </div>
  <div class="col-md-2">
    <a class="text-dark btn">Порядок</a>
    <select name="order"
            [(ngModel)]="order" (ngModelChange)="loadProducts()" class="form-control">
      <option *ngIf="sort == 'price'" value="low">Дешевле-Дороже</option>
      <option *ngIf="sort == 'price'" value="high">Дороже-Дешевле</option>

      <option *ngIf="sort == 'name'" value="low">А-Я</option>
      <option *ngIf="sort == 'name'" value="high">Я-А</option>

      <option *ngIf="sort == 'productId'" value="low">Старые-Новые</option>
      <option *ngIf="sort == 'productId'" value="high">Новые-Старые</option>
    </select>
  </div>
</div>

<div class="row">
  <div *ngFor="let product of products" class="col-md-6">
    <div class="bg-product1 my-product text-center text-dark overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">{{product.name}}</h2>
        <p class="lead">{{product.category}}</p>
        <p>{{product.description}}</p>
        <p class="lead">{{product.price}}$</p>
        <a class="btn btn-outline-dark" href="#" [routerLink]="['/product/', product.productId]">Просмотреть</a>
      </div>
    </div>
  </div>
</div>
<hr class="mb-4">
<nav *ngIf="totalPages" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <a class="text-dark btn">Страница</a>
    <li class="page-item">
      <a *ngIf="page!==0"  class="page-link" href="#"(click)="goPrev(page)">Пред.</a></li>
    <li *ngFor="let pages of totalPages; let i = index" class="page-item">
      <a class="page-link" href="#" (click)="goPage(i)">{{i+1}}</a></li>
    <li *ngIf="page!==totalPages.length-1" class="page-item">
      <a class="page-link" href="#" (click)="goNext(page)">След.</a></li>
    <!--<div class="dropdown" style="margin-left: 10px">-->
      <!--<button class="text-dark btn dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--Показывать по:-->
      <!--</button>-->
      <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
        <!--<a class="dropdown-item" href="#" (click)="setSize(1)">1</a>-->
        <!--<a class="dropdown-item" href="#" (click)="setSize(2)">2</a>-->
        <!--<a class="dropdown-item" href="#" (click)="setSize(4)">4</a>-->
      <!--</div>-->
    <!--</div>-->
    <a class="text-dark btn">Кол-во на странце</a>
    <select name="pageSize"
            [(ngModel)]="size" (ngModelChange)="loadProducts()" class="form-control" style="width: 200px">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="4" selected>4</option>
    </select>
  </ul>
</nav>
