<div class="container-fluid">
  <h1 class="text-center">Пользователи</h1>
  <table class="table table-striped table-condensed table-bordered">
    <tbody>
    <tr>
      <th class="text-right">Id</th>
      <th>Логин</th>
      <th>Почта</th>
      <th>Профиль</th>
    </tr>
    <tr>
      <td class="text-right">1</td>
      <td>vlad</td>
      <td>vlad@gmail.com</td>
      <td><a routerLink="/user">Профиль</a></td>
    </tr>
    <tr>
      <td class="text-right">2</td>
      <td>ivan</td>
      <td>ivan@gmail.com</td>
      <td><a routerLink="/user">Профиль</a></td>
    </tr>
    <tr>
      <td class="text-right">3</td>
      <td>john</td>
      <td>john@gmail.com</td>
      <td><a routerLink="/user">Профиль</a></td>
    </tr>
    <tr>
      <td class="text-right">4</td>
      <td>jack</td>
      <td>jack@gmail.com</td>
      <td><a routerLink="/user">Профиль</a></td>
    </tr>
    </tbody>
  </table>
</div>
