<div class="bg-myreg">
<div class="container">
  <div class="py-5 text-center">
    <h2>Регистрация</h2>
  </div>

  <div class="row" style="padding-bottom: 50px">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Ваши данные</h4>
      <form class="needs-validation" novalidate="">

        <div class="mb-3">
           <label>Имя</label>
           <input class="form-control" name="name" [(ngModel)]="userAccount.name" #name="ngModel" required/>
           <p [hidden]="name.valid || name.untouched" class="text-danger">Неверное имя</p>
        </div>

        <div class="mb-3">
          <label>Фамилия</label>
          <input class="form-control" name="surname" [(ngModel)]="userAccount.surname" #surname="ngModel" required/>
          <p [hidden]="surname.valid || surname.untouched" class="text-danger">Неверная фамилия</p>
        </div>

        <div class="mb-3">
          <label>Логин(мин. 4 символа)</label>
          <input class="form-control" name="login" [(ngModel)]="userAccount.login" #login="ngModel" required minlength="4">
          <p [hidden]="login.valid || login.untouched" class="text-danger">Неверный логин</p>
        </div>

        <div class="mb-3">
          <label>Пароль(мин. 6 символов)</label>
          <input class="form-control" name="password" type="password" [(ngModel)]="userAccount.password" #password="ngModel" required minlength="6">
          <p [hidden]="password.valid || password.untouched" class="text-danger">Неверный пароль</p>
        </div>

        <div class="mb-3">
          <label>Почта</label>
          <input class="form-control" name="email" [(ngModel)]="userAccount.email" #email="ngModel"
                 required pattern="[a-zA-Z0-9_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}"/>
          <p [hidden]="email.valid || email.untouched" class="text-danger">Неверный email</p>
        </div>

        <div class="mb-3">
          <label>Город</label>
          <input class="form-control" name="address" [(ngModel)]="userAccount.address" #address="ngModel" required minlength="4">
          <p [hidden]="address.valid || address.untouched" class="text-danger">Неверный адрес</p>
        </div>
        <div>
          <label for="role">Роль</label>
          <select id="role" name="role"
                  [(ngModel)]="userAccount.rolesByRoleId.roleId" class="form-control">
            <option value="1" selected>Пользователь</option>
            <option value="3">Админ</option>
          </select>
        </div>


        <hr class="mb-4">
      <button class="btn btn-dark btn-lg btn-block" type="submit" routerLink=""
              [disabled]="name.invalid || surname.invalid || password.invalid || email.invalid || login.invalid || address.invalid" (click)="addUserAccount()">Зарегистрироваться</button>
      </form>
    </div>
  </div>

</div>
</div>
