<div class="container">
  <div class="row">
    <div class="col-12 text-center my-head"><h1>Мой профиль</h1><hr></div>
    <div class="col-md-6 my-data text-right">
      Логин:
    </div>
    <div class="col-md-6 my-data text-left">
      {{userAccount.login}}
    </div>

    <div class="col-md-6 my-data text-right">
      Имя:
    </div>
    <div class="col-md-6 my-data text-left">
      {{userAccount.name}}
    </div>

    <div class="col-md-6 my-data text-right">
      Фамилия:
    </div>
    <div class="col-md-6 my-data text-left">
      {{userAccount.surname}}
    </div>

    <div class="col-md-6 my-data text-right">
      Почта:
    </div>
    <div class="col-md-6 my-data text-left">
      {{userAccount.email}}
    </div>

    <div class="col-md-6 my-data text-right">
      Адрес:
    </div>
    <div class="col-md-6 my-data text-left">
      {{userAccount.address}}
    </div>
  </div>
</div>



