<div class="container">
  <div class="row" *ngIf="billingAccount">
    <div class="col-12 text-center"><h2>Мой счет</h2></div>
    <div class="col-12 text-center"><hr><h4>Карта</h4></div>
    <div class="col-md-6 my-data text-right">
      Название:
    </div>
    <div class="col-md-6 my-data text-left">
      {{billingAccount.cardType}}
    </div>

    <div class="col-12 text-center" style="padding-top: 20px"><hr><h4>Баланс</h4></div>

    <div class="col-md-12 text-center" style="padding-top: 10px">
      <h4>{{billingAccount.balance}}$</h4>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 10px">
      <button class="btn btn-dark" type="submit">Пополнить</button>
    </div>
  </div>
</div>
