<div class="container-fluid">
  <h1 class="text-center">Продукты</h1>
  <table class="table table-striped table-condensed table-bordered">
    <tbody>
    <tr>
      <th class="text-right">Id</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Версии</th>
      <th>Цена</th>
    </tr>
    <tr>
      <td class="text-right">1</td>
      <td><a routerLink="/product">Office</a></td>
      <td>описание</td>
      <td>Пробная, стандарт, про</td>
      <td>0-15-30</td>
    </tr>
    <tr>
      <td class="text-right">2</td>
      <td><a routerLink="/product">Windows</a></td>
      <td>описание</td>
      <td>Пробная, стандарт, про</td>
      <td>0-15-30</td>
    </tr>
    <tr>
      <td class="text-right">3</td>
      <td><a routerLink="/product">Netflix</a></td>
      <td>описание</td>
      <td>Пробная, стандарт, про</td>
      <td>0-15-30</td>
    </tr>
    <tr>
      <td class="text-right">4</td>
      <td><a routerLink="/product">Spotify</a></td>
      <td>описание</td>
      <td>Пробная, стандарт, про</td>
      <td>0-15-30</td>
    </tr>
    </tbody>
  </table>
</div>
