.row{
	max-width: 1024px;
	margin: auto;
	background-color: red;
}
.conteiner{
	margin-left: 16px;
  	margin-right: 16px;
  	margin-bottom: 16px;
  	margin-top: 16px;
  	background-color: #D8F7FF;
}
.my-head{
	padding-top: 20px;
}
.my-data{
	padding-top: 20px;
}