<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Simple Charging</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 btn btn-outline-dark" href="#" routerLink="/">Главная</a>
    <a *ngIf="adminFlag" class="p-2 btn btn-outline-dark" href="#" routerLink="/products">Продукты</a>
    <a *ngIf="adminFlag" class="p-2 btn btn-outline-dark" href="#" routerLink="/accounts">Пользователи</a>
    <a *ngIf="loginFlag" class="p-2 btn btn-outline-dark" href="#" routerLink="/user">Мой профиль</a>
    <a *ngIf="!adminFlag" class="p-2 btn btn-outline-dark" href="#" (click)="clickLogin()" routerLink="/login">Войти</a>
    <a *ngIf="!adminFlag" class="p-2 btn btn-outline-dark" href="#" routerLink="/registration">Регистрация</a>
    <button *ngIf="!adminFlag" (click)="clickAdmin()">Aдмин</button>
    <button *ngIf="adminFlag"(click)="clickAdmin()">Пользователь</button>
  </nav>
</div>
