<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Simple Charging</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a  class="p-2 btn btn-outline-dark my-head-button" href="#" routerLink="">Главная</a>
    <a *ngIf="auth.user && auth.user.rolesByRoleId.name === 'admin'" class="p-2 btn btn-outline-dark my-head-button" href="#"
       routerLink="admin/products">Продукты</a>
    <a *ngIf="auth.user && auth.user.rolesByRoleId.name === 'admin'" class="p-2 btn btn-outline-dark" href="#"
       routerLink="admin/users">Пользователи</a>
    <a *ngIf="auth.user && auth.user.rolesByRoleId.name === 'user'" class="p-2 btn btn-outline-dark" href="#"
       routerLink="/user-account">Мой профиль</a>
    <a *ngIf="auth.user && auth.user.rolesByRoleId.name === 'user'" class="p-2 btn btn-outline-dark" href="#"
       routerLink="/billing-account">Мой счет</a>
    <a *ngIf="auth.user && auth.user.rolesByRoleId.name === 'user'" class="p-2 btn btn-outline-dark" href="#"
       routerLink="/subscriptions">Мои подписки</a>
    <a *ngIf="!auth.user" class="p-2 btn btn-outline-dark" href="#" routerLink="/registration">Регистрация</a>
    <a *ngIf="!auth.user" class="p-2 btn btn-outline-dark" href="#" routerLink="/login">Войти</a>
    <a *ngIf="auth.user" class="p-2 btn btn-outline-dark" href="#" routerLink="/login" (click)="auth.logOut()">Выйти</a>
    <!--<a  class="p-2 btn btn-outline-dark" href="#" routerLink="/registrationBA">Регистрация кошелька</a>-->
    <!--<a class="p-2 btn btn-outline-dark" href="#" routerLink="/login">Войти</a>-->
    <!--<a class="p-2 btn btn-outline-dark" href="#" routerLink="/registration">Регистрация</a>-->
  </nav>
</div>

<!--<a *ngIf="auth.user && auth.user.rolesByRoleId.name === 'admin'" class="p-2 btn btn-outline-dark" href="#" routerLink="admin/products">Продукты</a>-->
<!--<a *ngIf="!auth.user" class="p-2 btn btn-outline-dark" href="#" routerLink="/login">Войти</a>-->
<!--<a *ngIf="!auth.user" class="p-2 btn btn-outline-dark" href="#" routerLink="/registration">Регистрация</a>-->
